<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{--title--}}</title>
  <link rel="stylesheet" type="text/css" href="/assets/app.css" />
  <link rel="stylesheet" type="text/css" href="/assets/normalize.css" />
  <link rel="stylesheet" href="/assets/highlighter/styles/darcula.css" />
  <script src="/assets/highlighter/highlight.pack.js"></script>
  <script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
  <!-- Search Engine -->
  <meta name="description" content="{{--description--}}" />
  <meta
    name="image"
    content="https://sleekdb.github.io/assets/SleekDB_Thumbnail.png"
  />
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="{{--title--}}" />
  <meta itemprop="description" content="{{--description--}}" />
  <meta
    itemprop="image"
    content="https://sleekdb.github.io/assets/SleekDB_Thumbnail.png"
  />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{--title--}}" />
  <meta name="twitter:description" content="{{--description--}}" />
  <meta name="twitter:site" content="@rakibtg" />
  <meta name="twitter:creator" content="@rakibtg" />
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="{{--title--}}" />
  <meta name="og:description" content="{{--description--}}" />
  <meta
    name="og:image"
    content="https://sleekdb.github.io/assets/SleekDB_Thumbnail.png"
  />
  <meta name="og:url" content="https://sleekdb.github.io/" />
  <meta name="og:site_name" content="{{--title--}}" />
  <meta name="og:locale" content="en_US" />
  <meta name="og:type" content="website" />
</head>
