<div class="toggler" title="Toggle sidebar">
  <ion-icon name="menu"></ion-icon>
</div>
<div class="left_header">
  <div class="logo">
    <a href="/">SLEEK<span>DB</span></a>
  </div>
</div>
<div class="right_header header_menu">
  <a
    href="/#/versions"
    title="Find all versions of SleekDB"
    class="menu gotoblock"
    ><ion-icon class="hide-sm" name="pricetag"></ion-icon> {{--version--}}</a
  >
  <a
    class="menu"
    href="https://github.com/rakibtg/SleekDB"
    target="_blank"
    title="SleekDB is open-source. See the source code in GitHub"
    ><ion-icon name="logo-github"></ion-icon>
    <span class="hide-sm">GitHub</span></a
  >
  <a
    class="menu"
    href="https://twitter.com/rakibtg"
    target="_blank"
    title="Follow me on twitter for SleekDB updates."
    ><ion-icon name="logo-twitter"></ion-icon>
    <span class="hide-sm">@rakibtg</span></a
  >
  <a
    class="menu gotoblock"
    href="/#/support"
    target="_blank"
    title="Learn more on supporting this open source database."
    ><ion-icon name="heart"></ion-icon> <span class="hide-sm">Support</span></a
  >
</div>
